@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/select2.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<!-- JQuery from CDN -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="@routes.Assets.at("javascripts/select2.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/select2_locale_pt-PT.js")" type="text/javascript"></script>
<!-- Bootstrap from CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<script type="text/javascript">

function movieFormatResult(result) {
    var markup = "<table><tr>";
    markup += "<td>" + result.name + " - " + result.description + "</td>";
    markup += "</tr></table>";
    return markup;
}

function movieFormatSelection(result) {
    return result.name;
}
$(document).ready(function() { 
	$("#e2").select2({
	    placeholder: "Search for a job",
	    minimumInputLength: 1,
	    ajax: {
	        url: "../select2/jobs",
	        dataType: 'json',
	        data: function (term, page) {
	            return {
	                q: term,
	                page_limit: 10,
	                page: page
	            };
	        },
	        results: function (data, page) {
	            return {results: data.result, more: data.hasMore};
	        }
	    },
	    formatResult: movieFormatResult,
	    formatSelection: movieFormatSelection,
	    dropdownCssClass: "bigdrop",
	    escapeMarkup: function (m) { return m; }
	});
});
</script>
<body>
	<input id="e2"></input>
</body>
</html>
